
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@font-face {
    font-family: Life;
    src: url(Life.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(36, 36, 36);
    font-size: 2vw;
    font-family: 'Life';
    /* font-weight: bold; */
    color:rgb(50, 50, 50);
}

/* LOADING SCREEN */
#loading-screen {
    overflow: hidden;
    min-width: 100%;
    height: 100vh;
    background: rgb(187, 243, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loadbar-container {
    width: max(27vw, 200px);;
    height: 3vh;
    border: solid black 2px;
}
#loading-text{
    color: black;
    font-size: 1.5rem;
    margin-right: 3vw;
    margin-bottom: 0.5vh;
}

#loadbar{
    height: 100%;
    width: 10%;
    background: rgb(24, 92, 251);
}
/* END LOADING SCREEN */


    /* LANGUAGE CHOICE MODAL */
#modal1 {
    height: 80vh;
    width: 80vw;
    top: 10vh; 
    left: 10vw; 
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#modal1_up {
    height: 35%;
    width: 50%;
    background-image: url(textures/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 0.5%;
    text-align: center;
}

#modal1_down {
    height: 40%;
    width: 62%;
    display: flex;
    justify-content: center;
    background: transparent;
}
/* END LANGUAGE CHOICE MODAL */


/* ***BUTTONS */

    /* blue; first modal and input */
.buttonDiv {
    width: 40%;
    height: 30%;
    background-image: url(textures/button2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
    /* green; second modal only */
.buttonDiv2 {
    width: 30%;
    height: 35%;
    background-image: url(textures/button4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
    /* orange round; rules buttons and all restart buttons */
.buttonRulesDiv {
    width: 30%;
    height: 50%;
    background-image: url(textures/button5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

    /* basic button; transparent */
.button {
    width: 100%;
    height: 100%;
    font-size: 1.8vw;
    background: transparent;
    border: none;
    font-family: 'Life';
    cursor: pointer;
    color:rgb(50, 50, 50);
}
.button:hover {
    background: rgba(24, 24, 24, 0.04);
}

    /* round button; transparent */
.button1 {
    width: 92%;
    height: 90%;
    font-size: 1.8vw;
    background: transparent;
    /* opacity: 50%; */
    border-radius: 35%;
    border: none;
    font-family: 'Life';
    cursor: pointer;
    color:rgb(50, 50, 50);
}
.button1:hover {
    background: rgba(24, 24, 24, 0.04);
}
/* END BUTTONS */


    /* DIFFICULTY CHOICE MODAL */
#modal2 {
    height: 80vh;
    width: 80vw;
    top: 15vh; 
    left: 10vw; 
    position: absolute;
    z-index: 99;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

#modal2_up {
    height: 20%;
    width: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#modal2_middle {
    height: 30%;
    width: 50%;
    background-image: url(textures/button3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    flex-direction: column;
    margin: 1px;
}

#modal2_down {
    height: 35%;
    width: 70%;
    display: flex;
    justify-content: center;
    background: transparent;
}
/* END DIFFICULTY CHOICE MODAL */

/* RULES EXPLANATION MODAL */
#modal_rules {
    height: 70vh;
    width: 50vw;
    top: 10vh; 
    left: 25vw; 
    position: absolute;
    z-index: 200;
    background-image: url(textures/button6.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#modal_rules1 {
    height: 70%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: inherit;
}

#modal_rules2 {
    height: 30%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* END RULES EXPLANATION MODAL */


/* AFTER LOOSING CONTENT */
#restart_main {
    position: absolute;
    z-index: 200;
    height: 90vh;
    width: 90vw;
    top: 5vh;
    left: 5vw;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* RESTART TOP MODAL */
#restart_ {
    background-image: url(textures/button6.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 35%;
    width: 40%;
    top: 5%; 
    left: 30%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
#restart_question {
    height: 40%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: inherit;
    margin-top: 5%;
}
#restart_button_space {
    height: 50%;
    width: 90%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* END RESTART TOP MODAL */

/* SCOREBOARD */
#scoreboard-main{
    width: 100%;
    height: 65%;
    background-image: url(textures/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    opacity: 0;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
    flex-direction: column;
    align-items: center;  
}
#scoreboard-title {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

#difficulty-titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
    width: 100%
}

#scoreboard-container{
    width: 100%;
    height: 66%;
    display: flex;
    justify-content: space-around;
}

.scoreboard {
    min-width: 25%;
    display: flex;
    flex-direction: column;
}

.scoreboard-line{
    width: 98%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid gray 1px;
    flex-direction: row;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.7em;
}
/* END SCOREBOARD */


#savescore-dark {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 250;
    background: black;
    opacity: 70%;
    display: none;
}

/* REQUEST NAME AND SAVE SCORE MODAL */
#savescore-main {
    width: 40%;
    height: 35%;
    z-index: 300;
    background-image: url(textures/button6.png);
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
    align-items: center;
    flex-direction: column;
    opacity: 100%;
    margin-bottom: 7vh;
    row-gap: 5%;
}

#savescore-text {
    width: 90%;
    height: 20%;
    /* border: solid green 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

#savescore-input-container {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
#savescore-send-container {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
#name {
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(textures/button2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;    
}

#button-savescore-final-div {
    height: 80%;
}
/* END REQUEST NAME AND SAVE SCORE MODAL */

/* WIN SCREEN */

#win-main {
    position: absolute;
    z-index: 150;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 70vh;
    background-image: url(textures/button6.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#win-text {
    margin-top: 2%;
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#fish-choice-main {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    place-items: center;
}
.fish-choice{
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
    cursor: pointer;
}
.fish-choice:hover{
    background: rgba(0, 0, 0, 0.258);
}

#rate-main{ 
    position: absolute;
    background-image: url(textures/button6.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40vw;
    height: 30vh;
    top: 10vh;
    display: none;
    z-index: 300;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#rate-text-1{
    text-align: center;
    width: 90%;
    height: 40%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rate-buttons-container{
    text-align: center;
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#rate-button-good{
    background-image: url(textures/button4.png);
}
#rate-button-bad{
    background-image: url(textures/button2.png);
}

.rate-button{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 45%;
    height: 60%;
    display: flex;
    align-items:  center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.rate-button:hover{
    filter: brightness(94%);
}

#rate-good-main {
    width: 55vw;
    height: 75vh;
    z-index: 300;
    background-image: url(textures/button6.png);
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
    align-items: center;
    flex-direction: column;
    opacity: 100%;
    margin-bottom: 7vh;
    
}
#rate-good-text{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
}
#textarea-container {
    background-image: url(textures/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rate-bad-main {
    width: 55vw;
    height: 75vh;
    z-index: 300;
    background-image: url(textures/button6.png);
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: none;
    align-items: center;
    flex-direction: column;
    opacity: 100%;
    margin-bottom: 7vh;
    
}
#rate-bad-text{
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    font-size: 0.7em;
}
#textarea-container-bad {
    background-image: url(textures/button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.review, .review:focus { 
    outline: none;
    background-color: transparent;
    border: none;
    width: 90%;
    height: 70%;
    resize: none;
    overflow: hidden;

}
.rate-submit-container {
    width: 70%;
    height: 12%;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonRateDiv {
    width: 30%;
    height: 95%;
    background-image: url(textures/button5.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.fishImg {
    width: 60%;
    height: auto;
}


#dark {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 150;
    background: black;
    opacity: 40%;
    display: none;
}

.modal_Img {
    object-fit: fill;
}

#canvasCurtain {
    background-image: url(textures/canvas_background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#canvas1 {        
    z-index: 1;
}